In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
output_data_path = "../WeatherPy/output_data.csv"

# Import the output data.csv file as a DataFrame
weather_df = pd.read_csv(output_data_path)
weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Port Elizabeth,-33.92,25.57,68.00,82,0,13.87,ZA,1608059557
1,1,Cabo San Lucas,22.89,-109.91,75.00,60,20,3.36,MX,1608059391
2,2,Lebu,-37.62,-73.65,56.53,59,0,23.44,CL,1608059429
3,3,Bredasdorp,-34.53,20.04,60.80,67,0,3.36,ZA,1608059558
4,4,Noshiro,40.20,140.02,28.96,89,99,21.16,JP,1608059558
...,...,...,...,...,...,...,...,...,...,...
541,541,Mogadishu,2.04,45.34,77.56,79,0,19.86,SO,1608059647
542,542,Ulladulla,-35.35,150.47,70.00,100,90,9.17,AU,1608059647
543,543,Lubumbashi,-11.66,27.48,64.47,94,100,4.21,CD,1608059647
544,544,Manggar,-2.88,108.27,80.15,81,100,4.05,ID,1608059647
545,545,Kankakee,41.15,-87.87,32.00,80,1,11.41,US,1608059647

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Create a map using lat & lng as locations
marker_locations = weather_df[['Lat', 'Lng']].astype(float)

# Convert humidity to float and store

humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(marker_locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

plt.savefig("figure1.png")

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#Create new Dataframe with weather criteria
#Max temp <80 but >70
#Wind speed less than 10mph
#Zero cloudiness

new_data_df = pd.DataFrame(weather_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

new_data_df = weather_df.loc[(weather_df['Max Temp'] <= 80) & 
                            (weather_df['Max Temp'] > 60) &
                            (weather_df["Wind Speed"] < 10) &
                            (weather_df["Cloudiness"] == 0)]
new_data_df = new_data_df.dropna(how='any')

print(weather_df.shape)
print(new_data_df.shape)
new_data_df

(546, 10)
(28, 10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Bredasdorp,-34.53,20.04,60.80,67,0,3.36,ZA,1608059558
26,26,Hermanus,-34.42,19.23,61.00,77,0,7.72,ZA,1608059561
32,32,Port Alfred,-33.59,26.89,66.99,90,0,4.00,ZA,1608059563
59,59,Ahipara,-35.17,173.17,61.88,74,0,6.24,NZ,1608059567
81,81,Atar,20.52,-13.05,73.24,21,0,9.78,MR,1608059570
87,87,Gisborne,-38.65,178.00,64.99,73,0,3.00,NZ,1608059571
92,92,Aswān,24.09,32.91,61.03,35,0,8.75,EG,1608059572
108,108,Salalah,17.02,54.09,73.40,53,0,5.82,OM,1608059479
194,194,Mildura,-34.20,142.15,71.60,53,0,9.17,AU,1608059590
210,210,Marsabit,2.33,37.99,68.61,57,0,6.60,KE,1608059592
221,221,Misratah,32.38,15.09,61.20,66,0,1.03,LY,1608059594
227,227,Bagting,15.56,121.25,72.48,84,0,4.45,PH,1608059595
242,242,Oddur,4.12,43.89,76.98,31,0,7.52,SO,1608059597
257,257,Araouane,18.90,-3.53,75.27,22,0,6.35,ML,1608059600
263,263,Bijni,26.50,90.70,62.85,76,0,1.90,IN,1608059601
270,270,Kibala,9.11,18.35,77.00,53,0,3.56,TD,1608059602
295,295,Clevelândia,-26.40,-52.47,77.65,68,0,3.36,BR,1608059606
349,349,Guerrero Negro,27.98,-114.06,67.14,36,0,1.70,MX,1608059615
355,355,Puri,19.80,85.85,69.80,83,0,5.37,IN,1608059616
402,402,Olavarría,-36.89,-60.32,73.99,24,0,5.01,AR,1608059623
452,452,Pouembout,-21.13,164.90,74.32,80,0,3.44,NC,1608059631
457,457,Esna,25.29,32.55,60.17,41,0,9.66,EG,1608059632
495,495,Chirongui,-12.93,45.15,78.80,88,0,4.70,YT,1608059638
498,498,Nouakchott,18.09,-15.98,75.20,47,0,9.17,MR,1608059639
507,507,Voh,-20.97,164.70,74.10,81,0,3.78,NC,1608059640
513,513,Hambantota,6.12,81.12,73.40,100,0,3.36,LK,1608059641
521,521,Villazón,-22.09,-65.59,68.34,20,0,5.21,BO,1608059643
535,535,Christchurch,-43.53,172.63,61.00,93,0,9.17,NZ,1608059370

In [ ]:
#Create a column in the dataframe for the hotel name
hotel_df = pd.DataFrame(weather_df)
hotel_df["Hotel Name"] = " "
hotel_df.head()