In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
output_data_path = "../WeatherPy/output_data.csv"

# Import the output data.csv file as a DataFrame
weather_df = pd.read_csv(output_data_path)
weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Port Elizabeth,-33.92,25.57,68.00,82,0,13.87,ZA,1608059557
1,1,Cabo San Lucas,22.89,-109.91,75.00,60,20,3.36,MX,1608059391
2,2,Lebu,-37.62,-73.65,56.53,59,0,23.44,CL,1608059429
3,3,Bredasdorp,-34.53,20.04,60.80,67,0,3.36,ZA,1608059558
4,4,Noshiro,40.20,140.02,28.96,89,99,21.16,JP,1608059558
...,...,...,...,...,...,...,...,...,...,...
541,541,Mogadishu,2.04,45.34,77.56,79,0,19.86,SO,1608059647
542,542,Ulladulla,-35.35,150.47,70.00,100,90,9.17,AU,1608059647
543,543,Lubumbashi,-11.66,27.48,64.47,94,100,4.21,CD,1608059647
544,544,Manggar,-2.88,108.27,80.15,81,100,4.05,ID,1608059647
545,545,Kankakee,41.15,-87.87,32.00,80,1,11.41,US,1608059647

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Create a map using lat & lng as locations
marker_locations = weather_df[['Lat', 'Lng']].astype(float)

# Convert humidity to float and store

humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(marker_locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

plt.savefig("figure1.png")

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Create new Dataframe with weather criteria
#Max temp <80 but >70
#Wind speed less than 10mph
#Zero cloudiness

new_data_df = pd.DataFrame(weather_df)


new_data_df = weather_df.loc[(weather_df['Max Temp'] <= 80) & 
                            (weather_df['Max Temp'] > 60) &
                            (weather_df["Wind Speed"] < 10) &
                            (weather_df["Cloudiness"] == 0)]
new_data_df = new_data_df.dropna(how='any')

new_data_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
3,3,Bredasdorp,-34.53,20.04,60.80,67,0,3.36,ZA,1608059558,
26,26,Hermanus,-34.42,19.23,61.00,77,0,7.72,ZA,1608059561,
32,32,Port Alfred,-33.59,26.89,66.99,90,0,4.00,ZA,1608059563,
59,59,Ahipara,-35.17,173.17,61.88,74,0,6.24,NZ,1608059567,
81,81,Atar,20.52,-13.05,73.24,21,0,9.78,MR,1608059570,

In [15]:
#Create a column in the dataframe for the hotel name
hotel_df = pd.DataFrame(weather_df)
hotel_df["Hotel Name"] = " "
hotel_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,0,Port Elizabeth,-33.92,25.57,68.00,82,0,13.87,ZA,1608059557,
1,1,Cabo San Lucas,22.89,-109.91,75.00,60,20,3.36,MX,1608059391,
2,2,Lebu,-37.62,-73.65,56.53,59,0,23.44,CL,1608059429,
3,3,Bredasdorp,-34.53,20.04,60.80,67,0,3.36,ZA,1608059558,
4,4,Noshiro,40.20,140.02,28.96,89,99,21.16,JP,1608059558,