In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [12]:
output_data_path = "../WeatherPy/output_data.csv"

# Import the output data.csv file as a DataFrame
weather_df = pd.read_csv(output_data_path)
weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bowling Green,36.99,-86.44,2.00,74,90,3.10,US,1607974100
1,1,Puerto Ayora,-0.74,-90.35,28.00,58,20,8.20,EC,1607974135
2,2,Vaini,-21.20,-175.20,23.00,100,90,4.60,TO,1607974135
3,3,Arlit,18.74,7.39,24.29,15,0,2.69,NE,1607974135
4,4,Moree,-29.47,149.85,20.00,68,40,3.60,AU,1607974135
...,...,...,...,...,...,...,...,...,...,...
539,539,Vincennes,48.85,2.43,12.22,81,90,3.60,FR,1607973692
540,540,Barcelona,41.39,2.16,14.44,93,75,1.50,ES,1607973384
541,541,Sept-Îles,50.20,-66.38,-1.67,86,92,2.10,CA,1607973482
542,542,Songjianghe,42.19,127.48,-19.29,80,100,3.79,CN,1607973692
543,543,Uruçuí,-7.23,-44.56,34.48,36,63,2.69,BR,1607973693

In [14]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [17]:
# Create a map using lat & lng as locations
marker_locations = weather_df[['Lat', 'Lng']].astype(float)

# Convert humidity to float and store

humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(marker_locations, weights=humidity, 
                                 dissipating=False, max_intensity=5,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))